{% extends 'base.html.twig' %}

{% block title %}Ajouter une télévision{% endblock %}

{% block body %}
<h1>Ajouter une télévision</h1>

{{ form_start(form) }}
    {{ form_row(form.Titre) }}
    {{ form_row(form.Description) }}
    {{ form_row(form.Couleur) }}
    {{ form_row(form.Nom_fab) }}
    {{ form_row(form.Diagonale) }}
    {{ form_row(form.Dimensions) }}
    {{ form_row(form.Poids) }}
    {{ form_row(form.Marques) }}
    <button class="btn">Enregistrer</button>
{{ form_end(form) }}

{% endblock %}
